In [6]:
meses = {
    1: "Janeiro",
    2: "Fevereiro",
    3: "Março",
    4: "Abril",
    5: "Maio",
    6: "Junho",
    7: "Julho",
    8: "Agosto",
    9: "Setembro",
    10: "Outubro",
    11: "Novembro",
    12: "Dezembro"
}

In [ ]:
import requests
import pandas as pd
import time

# Seu token de API do Pipefy
TOKEN = "eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJQaXBlZnkiLCJpYXQiOjE3NTU4MjIwMjUsImp0aSI6IjgxYjQ5YjE3LWRlZDUtNDE0Ni04ZTc1LTJkYTM4ODA0MTM0OSIsInN1YiI6MzA2OTUzNTkxfQ.epNfxYCFHr3tbaH21kfJYv2dCGRXF2nD1H_WBYyNTDyuleSbFEAFZm9OXJ-Zd5seINCUQ18h8SjYRcuuMQWC5Q"

# IDs do pipe e do relatório
PIPE_ID = 305611585
PIPE_REPORT_ID = 300927833

GRAPHQL_URL = "https://api.pipefy.com/graphql"

def iniciar_exportacao():
    query = f"""
    mutation {{
      exportPipeReport(input: {{
        pipeId: {PIPE_ID},
        pipeReportId: {PIPE_REPORT_ID}
      }}) {{
        pipeReportExport {{
          id
        }}
      }}
    }}
    """
    response = requests.post(GRAPHQL_URL, headers={
        "Authorization": f"Bearer {TOKEN}",
        "Content-Type": "application/json"
    }, json={"query": query})
    resp = response.json()
    print("Início da exportação:", resp)
    try:
        return resp['data']['exportPipeReport']['pipeReportExport']['id']
    except:
        print("Erro ao iniciar exportação:", resp)
        return None

def verificar_status(export_id):
    query = f"""
    {{
        pipeReportExport(id: {export_id}) {{
            fileURL
            finishedAt
        }}
    }}
    """
    response = requests.post(GRAPHQL_URL, headers={
        "Authorization": f"Bearer {TOKEN}",
        "Content-Type": "application/json"
    }, json={"query": query})
    resp = response.json()
    try:
        export = resp['data']['pipeReportExport']
        if export['finishedAt']:
            # Baixar
            r = requests.get(export['fileURL'])
            filename = 'relatorio.xlsx'
            with open(filename, 'wb') as f:
                f.write(r.content)
            print("Baixado:", filename)
            return filename
        else:
            print("Ainda não pronto.")
            return None
    except:
        print("Erro ao verificar:", resp)
        return None

def main():
    export_id = iniciar_exportacao()
    if not export_id:
        print("Falha ao iniciar.")
        return
    print(f"ID da exportação: {export_id}")

    while True:
        arquivo = verificar_status(export_id)
        if arquivo:
            break
        print("Aguardando 5s...")
        time.sleep(5)

    # Carregar no pandas
    if arquivo.endswith('.csv'):
        df = pd.read_csv(arquivo)
    else:
        df = pd.read_excel(arquivo)
    return df

if __name__ == "__main__":
    df = main()

df

In [ ]:
unidad_df = df.copy()

unidad_df_columns = ['Title','Cliente (Restored)','Current phase',
                     'Data de Faturamento','Representante','Representante Secundário',
                     'Etiquetas','Itens do Pedido','CNPJ emissor de NF ','Prazo de Pagamento',
                     'Tipo de NF ','Número da NF ','Valor Faturado']

unidad_df = unidad_df[unidad_df_columns]

unidad_df = unidad_df.rename(columns={'Title':'Cliente',
                                      'Current phase':'Fase_do_pedido',
                                      'Data de Faturamento':'Data_do_pedido',
                                      'Cliente (Restored)':'CNPJ_cliente',
                                      'Etiquetas':'Empresa',
                                      'Itens do Pedido':'Produtos',
                                      'CNPJ emissor de NF ':'CNPJ_empresa',
                                      'Número da NF':'Nota_fiscal'})

unidad_df['Data_do_pedido'] = pd.to_datetime(unidad_df['Data_do_pedido'])
unidad_df['Mès_num'] = unidad_df['Data_do_pedido'].dt.month
unidad_df['Mês_do_pedido'] = unidad_df['Mès_num'].map(meses)
unidad_df['Data_do_pedido'] = unidad_df['Data_do_pedido'].dt.strftime("%d/%m/%y")

unidad_df = unidad_df.sort_values(by='Mès_num')

unidad_df['Prazo de Pagamento'] = unidad_df['Prazo de Pagamento'].replace('Outros (Descrever e justificar)','Outros')


unidad_df

       Representante Mês_do_pedido Data_do_pedido  Valor Faturado
0    Douglas Barbosa     Fevereiro       11/02/25         2100.00
1    Douglas Barbosa     Fevereiro       18/02/25         3084.00
2    Douglas Barbosa       Janeiro       10/01/25        35668.50
3    Douglas Barbosa       Janeiro       13/01/25        51376.74
4    Douglas Barbosa       Janeiro       14/01/25        63925.00
..               ...           ...            ...             ...
686    Vanessa Catto       Janeiro       28/01/25         3140.00
687    Vanessa Catto       Janeiro       29/01/25         3645.00
688    Vanessa Catto       Janeiro       30/01/25         2220.00
689    Vanessa Catto       Janeiro       31/01/25          550.00
690    Vanessa Catto         Março       05/03/25        12432.00

[691 rows x 4 columns]